<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.ext.weka37.classifier.WekaClassifierNodeFactory"/>
<entry key="node-name" type="xstring" value="J48 (3.7)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME WEKA nodes (3.7)"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.weka_3.7"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<config key="factory_settings">
<entry key="weka-class" type="xstring" value="weka.classifiers.trees.J48"/>
<entry key="weka-version" type="xstring" value="3.7"/>
</config>
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="ClassColumn" type="xstring" value="AllMV"/>
<entry key="Serialized Weka-Classifier" type="xstring" value="rO0ABXNyABp3ZWthLmNsYXNzaWZpZXJzLnRyZWVzLko0OPz6dNZCE5ZkAgANRgAEbV9DRkkABm1fU2VlZFoADm1fYmluYXJ5U3BsaXRzWgAObV9jb2xsYXBzZVRyZWVJAAttX21pbk51bU9ialoAC21fbm9DbGVhbnVwSQAKbV9udW1Gb2xkc1oAFW1fcmVkdWNlZEVycm9yUHJ1bmluZ1oAEG1fc3VidHJlZVJhaXNpbmdaAAptX3VucHJ1bmVkWgAMbV91c2VMYXBsYWNlWgASbV91c2VNRExjb3JyZWN0aW9uTAAGbV9yb290dAArTHdla2EvY2xhc3NpZmllcnMvdHJlZXMvajQ4L0NsYXNzaWZpZXJUcmVlO3hyACN3ZWthLmNsYXNzaWZpZXJzLkFic3RyYWN0Q2xhc3NpZmllclo+hCG9JiNNAgABWgAHbV9EZWJ1Z3hwAD6AAAAAAAABAAEAAAACAQAAAAMAAQAAAXA="/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="name" type="xstring" value="J48 (3.7)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
