<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.ext.weka37.classifier.WekaClassifierNodeFactory"/>
<entry key="node-name" type="xstring" value="PART (3.7)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME WEKA nodes (3.7)"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.weka_3.7"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<config key="factory_settings">
<entry key="weka-class" type="xstring" value="weka.classifiers.rules.PART"/>
<entry key="weka-version" type="xstring" value="3.7"/>
</config>
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="ClassColumn" type="xstring" value="AllMV"/>
<entry key="Serialized Weka-Classifier" type="xstring" value="rO0ABXNyABt3ZWthLmNsYXNzaWZpZXJzLnJ1bGVzLlBBUlRwtTRUUYw22QIACUYABG1fQ0ZJAAZtX1NlZWRaAA5tX2JpbmFyeVNwbGl0c0kAC21fbWluTnVtT2JqSQAKbV9udW1Gb2xkc1oAFW1fcmVkdWNlZEVycm9yUHJ1bmluZ1oACm1fdW5wcnVuZWRaABJtX3VzZU1ETGNvcnJlY3Rpb25MAAZtX3Jvb3R0AClMd2VrYS9jbGFzc2lmaWVycy9ydWxlcy9wYXJ0L01ha2VEZWNMaXN0O3hyACN3ZWthLmNsYXNzaWZpZXJzLkFic3RyYWN0Q2xhc3NpZmllclo+hCG9JiNNAgABWgAHbV9EZWJ1Z3hwAD6AAAAAAAABAAAAAAIAAAADAAABcA=="/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="name" type="xstring" value="PART (3.7)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
